p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.noteblock {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px DarkBlue;
  border-radius: 10px;
  background: LightBlue 5px center/3em no-repeat;
}

.mikko {
  background-image: url("images/omega.png");
}

.eblock {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  border: 2px SaddleBrown;
  border-radius: 10px;
  background: Moccasin 5px center/3em no-repeat;
}

.kimmo {
  background-image: url("images/sigma.png");
}

.center {
  text-align: center;
}

.book.with-summary .book-header.fixed {
    left: 650px;
}

.book.with-summary .book-body {
    left: 650px;
}

.book .book-summary {
    width: 650px;
}